
/*----------------------------------------*/
/*  01. VARIBALES CSS START
/*----------------------------------------*/


// Colors
:root {
  --primary: #c9f31d;
  --secondary: #2c2c2c;

  --black: #000;
  --black-2: #121212;
  --black-3: #555;
  --black-4: #1d1d1d;
  --black-5: #343434;
  --black-6: #262626;
  --black-7: #555555;
  --black-13: #666;

  --white: #fff;
  --white-2: #efefef;
  --white-3: #e9e9e9;
  --white-4: #f0f0f0;
  --white-5: #fbfbfb;
  --white-6: #d7d7d7;
  --white-7: #F5F5F5;

  --gray: #c2c2c2;
  --gray-2: #999;
  --gray-3: #a8a8a8;
  --gray-4: #f6f6f6;
  --gray-5: #bbb;
  --gray-6: #2b2b2b;
  --gray-7: #b9b9b9;
  --gray-8: #8E8E8E;
  --gray-9: #aaa;
  --gray-10: #7c7c7c;
  --gray-11: #D9D9D9;
  --gray-12: #383838;
  --gray-13: #ccc;
  --gray-14: #dfdfdf;
  --gray-15: #C0C0C0;
  --gray-16: #939393;

  --pink: #FAEDE9;
  --pink-2: #FF9776;
  --pink-3: #F3ECEC;
  --pink-4: #FFFAF0;
  --pink-5: #E0E3CC;

  --bg-line: #1e1e1e;


  --d-gray: #6A6A6A;
  --d-black: #1A1A1A;
  --d-black-2: #171717;
  --d-black-3: #1A1A1A;
}

// Font Family | newYork
@font-face {
  font-family: newYork;
  src: url('/assets/fonts/newyork/FontsFree-Net-NewYork.ttf');
  font-weight: 400;
}



// Font Family
$font_primary: 'Kanit', sans-serif;
$font_awesome: 'Font Awesome 6 Free';
$font_newyork: 'newYork';
$PlusJakarta : 'Plus Jakarta Sans',
sans-serif;
$overLock: 'Overlock', cursive;
$khand: 'Khand', sans-serif;


// Responsive Variable
$xxxl: 'only screen and (min-width: 1920px)';
$xxl: 'only screen and (min-width: 1400px) and (max-width: 1919px)';
$xxl-1: 'only screen and (min-width: 1200px) and (max-width: 1600px)';
$xl: 'only screen and (min-width: 1200px) and (max-width: 1399px)';
$lg: 'only screen and (min-width: 992px) and (max-width: 1199px)';
$md: 'only screen and (min-width: 768px) and (max-width: 991px)';
$sm: 'only screen and (max-width: 767px)';
$xs: '(max-width: 575px)';